In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import MeanShift

In [2]:
data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True).dropna()

c:\users\e15\pycharmprojects\untitled\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
offices_coords = np.array([[33.751277, 25.867736, 51.503016, 52.378894, 39.366487, -33.868457], 
                           [-118.188740, -80.324116, -0.075479, 4.885084, 117.036146, 151.205134]])

In [4]:
offices_coords

array([[ 3.37512770e+01,  2.58677360e+01,  5.15030160e+01,
         5.23788940e+01,  3.93664870e+01, -3.38684570e+01],
       [-1.18188740e+02, -8.03241160e+01, -7.54790000e-02,
         4.88508400e+00,  1.17036146e+02,  1.51205134e+02]])

In [5]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [6]:
data.shape

(396634, 6)

In [7]:
%%time
clusters = MeanShift(bandwidth=0.1).fit(data[:100000].iloc[:, 3:5])

Wall time: 10min 54s

In [45]:
val, counts = np.unique(clusters.labels_, return_counts=True)

In [46]:
df = pd.DataFrame(clusters.cluster_centers_[counts > 15])

In [47]:
def distance(x, y):
    min_dist = np.inf
    for i in range(6):
        x2, y2 = offices_coords[:, i]
        dist = ((x2 - x)**2 + (y2 - y)**2)**0.5
        if dist < min_dist:
            min_dist = dist
    return min_dist

In [48]:
df['dist'] = df.apply(lambda x: distance(x[0], x[1]), axis=1)

In [49]:
idx = np.argpartition(df.dist, 20)
df.iloc[idx[:20]]

             0           1      dist
87   33.888325 -118.048928  0.195779
119  33.983936 -118.007405  0.294979
416  25.845672  -80.318891  0.022674
417 -33.860630  151.204776  0.007835
32   33.674303 -117.858789  0.338810
29   25.785812  -80.217938  0.134109
27   33.817306 -117.891249  0.304731
320  26.138844  -80.334347  0.271301
92   26.010098  -80.199991  0.188876
167  25.705350  -80.283429  0.167406
369  52.372964    4.892317  0.009353
11   34.060398 -118.248709  0.314884
291  33.972575 -118.168371  0.222233
159  26.200585  -80.250716  0.340846
51   33.809878 -118.148924  0.070848
55   26.120863  -80.158907  0.302270
42   33.872986 -118.362091  0.211811
17   34.035487 -118.438998  0.378688
58   51.502991   -0.125537  0.050058
47   34.131460 -118.118012  0.386706

In [50]:
min_ind = np.argmin(df.dist)
min_ind

417

In [51]:
x, y = df.iloc[min_ind, 0:2]
print(x, y)

-33.86063042857143 151.20477592857145

In [52]:
with open('ans.txt', 'w') as f:
    f.write(str(x) + ' ' + str(y))